<div class="container ptop">
    <form class="form-group" ng-submit="updateData(object)">
        <input class="form-control" placeholder="Username" type="text" value="{{object.nombre}}">
        <input class="form-control" placeholder="Email" type="text" value="{{object.email}}">
        <input type="submit" value="Guardar">
    </form>
    <hr>
    <form class="form-group" ng-submit="updatePassword(password)">
        <input class="form-control" placeholder="Password actual" type="text" value="{{password.current}}">
        <input class="form-control" placeholder="Nuevo password" type="text" value="{{password.new}}">
        <input class="form-control" placeholder="Confirmar nuevo password" type="text" value="{{password.confirm}}">
        <input type="submit" value="Actualizar password">
    </form>
</div>