body {
    background-color: #fff;
    color: #364B61;
}

@media (max-width:1000px){
    
    section {
        height: auto;
    }
    
    .section {
        height: auto;
    }
    
    .logo img {
        margin: 0 0 0 0px;
    }
    
}