body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    //overflow: hidden;
}

@font-face {
    font-family: qbiK;
    src: url(/public/fonts/cubic.ttf);
}

.brand img {
    height: 60px;
}

.list {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap:   3px;
    -moz-column-count:    3;
    -moz-column-gap:      3px;
    column-count:         3;
    column-gap:           3px;
}
.list .item {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
}

.brand-img {
    height: 100%;
}

.gravatar {
    list-style: none;
}

.gravatar img {
    border-radius: 999px;
    padding: 5px;
    background: #fff;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    width: 180px;
    height: 180px;
    border: 1px solid #ddd;
}

.logo {
    font-family: 'qbiK';
}

.logo > span {
    color: #009ACB;
}

.banner {
    background: #eee;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.7) inset;
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,.7) inset;
    -o-box-shadow: 0px 0px 25px rgba(0,0,0,.7) inset;
    box-shadow: 0px 0px 25px rgba(0,0,0,.7) inset;
    overflow: hidden;
}

.banner > .bg {
    height: 105%;
    width: 105%;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px) grayscale(50%);
    -moz-filter: blur(5px) grayscale(50%);
    -o-filter: blur(5px) grayscale(50%);
    filter: blur(5px) grayscale(50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.banner:hover > .bg {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
}

.banner text{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    line-height: 400px;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}
/*------------------------------------------------------------------*/
.log {
    display: inline-block;
    position: relative;
    z-index: 2; 
    box-sizing: border-box;
}
.btn.btn-login {
    float: right;
    text-transform: none;
}

.btn.singup {
    border: 2px solid #5F6F81;
    background: rgba(0,0,0,0.1);
    color: #5F6F81;
}

.sectionWrap {
    margin-top: 10%;
    box-sizing: border-box;
}

.openerBtns {
    position: relative;
    z-index: 2;
    padding: 30px 0;    
}

.openerBtns .gbtnTertiary {
    float: left;
    width: 200px;
    margin-right: 16px;
    height: 50px;
    text-align: center;
    text-transform: none;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    border: 1px solid #5F6F81;//border: 2px solid #5F6F81;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px;
    background: #5F6F81;//background: rgba(0,0,0,0.1);
}

.openerBtns .gbtnHollow {
    float: left;
    width: 200px;
    margin-right: 16px;
    height: 50px;
    text-align: center;
    text-transform: none;
    font-size: 18px;
    line-height: 42px;
    color: #5F6F81;
    border: 2px solid #5F6F81;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px;
    background: rgba(0,0,0,0.1);
}

.login-form-show {
    float: right;
    margin: 20% -5% -20% 0;   
    box-sizing: border-box; 
}

.login-form {
    border-radius: 3px;
}

.login-form .btn.btn-login{
    margin: 0 0 0 0;
}

.btn-down{
    margin: 16% 0 -2% 0;//-3% 0 -2% 45%;
    //position: absolute;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 10px 14px;
    border: 2px solid #5F6F81;
    border-radius: 35px;
    font-size: 40px;
    text-align: center;
    color: #5F6F81;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.section {
    background: rgba(0,0,0,.2) no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    bottom: 0;
}

.grav:hover {;   
             opacity: 0.5;
}

.row {
    margin-bottom: 3px;
    margin-top: 3px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

section {
    //height: 100%;
    //width: 100%;
}

.ptop {
    padding-top: 80px;
}

.carousel-caption {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel .item {
    background-position: center center;
    background-size: cover;
}

.contenido a{
    color: #1abc9c;
}

.delay-1 {
    -webkit-animation-delay: 1s;
}
.delay-2 {
    -webkit-animation-delay: 2s;
}
.delay-3 {
    -webkit-animation-delay: 3s;
}
.delay-4 {
    -webkit-animation-delay: 4s;
}
.delay-5 {
    -webkit-animation-delay: 5s;
}
.delay-6 {
    -webkit-animation-delay: 6s;
}
.delay-7 {
    -webkit-animation-delay: 7s;
}
.delay-8 {
    -webkit-animation-delay: 8s;
}

.gn-menu-main, .gn-menu-main ul {
    border: 1px solid #c6d0da;
    border-radius: 0px;
    margin-left: -1px;
}

.dropdown-menu {
    left: -57px;
}

.dropdown-menu > li:last-child > a:first-child {
    border-radius: 0px;
    border-top: 1px solid #c6d0da;
}

.dropdown-menu > li:first-child > a:first-child {
    border-radius: 0px;
}

.alingpub {
    margin-right: 12%;
}

#home {
    height: 100%;
}

.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating li {
    padding: 1px;
    color: #a9a9a9;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.rating li.filled {
    color: #fd0;
}

.media-body .img {
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    height: 300px;//200px;
}

.media-body > p {
    white-space: nowrap; 

    overflow: hidden;
    text-overflow: ellipsis;
}

.contenido img{
    width: 100%;
}


@media (max-width: 768px) {

    .list {
        /* Prevent vertical gaps */
        line-height: 0;
        -webkit-column-count:   1;
        -webkit-column-gap:     3px;
        -moz-column-count:    1;
        -moz-column-gap:      3px;
        column-count:         1;
        column-gap:           3px;
    }
    
    .media-body .img {
        height: 400px;
    }

}

.media:first-child {
    margin: 3% 1% 0 1%;
}

.stylized {
    font-family: "Engagement";
    font-weight: 100;
    font-size: 250%;
}

.login-logo{
    font-size: 700%;
}

.logo img{
    vertical-align: middle;
    margin: -50px 0 0 -50px;
    opacity: 0.6;
    width: 150px;
    height: 150px;
}

.comentario {
    margin-bottom: 100px;
}

.coment {
    border-radius: 4px;
    margin: 5px 5px 10px 0;
}

.btn.btn-del {
    padding: 2px 3px 2px 3px;
    background-color: #1abc9c;
    color: #fff;
}

/*------------------------------------------------------------*/
.triangle-border {
    position: relative;
    padding: 8px;
    border: 2px solid #5f6f81;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*.triangle-border:before {
    content: "";
    position: absolute;
    top: 80px;
    left: 10px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5f6f81 transparent;
    display: block;
    width: 0;
}
.triangle-border:after {
    content: " ";
    position: absolute;
    bottom: -30px;
    left: 17px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}*/

.media, .media .media {
    margin-top: 6px;
}

.edit {
    text-align: right;
    font-size: 15px;
    margin-right: 5px;
}

.edit > a {
    margin-right: 10px;
}

.edit > a:hover {
    color: #1abc9c;
}

.ptop {
    color: #5F6F81;
    text-align: left;
}

.form-control {
    margin-bottom: 5px;
}
