#{extends 'main.html' /}
#{set title:'Home' /}
#{menuTag titles:['publicaciones', 'nueva']/}

<header class="intro wrap-header" style="height: 200px;">
    <div class="cb-slideshow">
        <div class="bg-slide-1"></div>
        <div class="bg-slide-2"></div>
        <div class="bg-slide-3"></div>
        <div class="bg-slide-4"></div>
        <div class="bg-slide-5"></div>
        <div class="bg-slide-6"></div>
    </div>
</header>

<section id="publicaciones" class="container content-section text-center page">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <h3>Publicaciones</h3>
            #{paginate.list items:objects, as: 'object'}
            <div>&{object}</div>
            #{/paginate.list}
        </div>
    </div>
</section>

<section id="nueva" class="container content-section page" ng-controller="newPubCtrl">
    <div class="btn btn-default">Crear nueva</div>
</section>

