#{extends 'main.html' /}
#{set title:'Home' /}
#{menuTag titles:['publicaciones', 'nueva', 'contacto']/}

<section id="publicaciones" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            #{paginate.list items:objects, as: 'object'}
            <div>&{object}</div>
            #{/paginate.list}
        </div>
    </div>
</section>

<section id="nueva" class="container content-section page" ng-controller="newPubCtrl">
    <h1>Crear publicación</h1>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <text-angular ng-model="htmlVariable"></text-angular>
            <button class="btn btn-default col-md-12">Aceptar</button>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="contacto" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contacto</h2>
        </div>
    </div>
</section>