<!-- About Section -->
<div  class="content-section text-center page">
    <h3>Quienes Somos?</h3>
    <ul class="gravatar col-md-12">
        <li class="col-md-3 col-xs-6">
            <div>
                <img src="http://www.gravatar.com/avatar/521535dabf2a9f17753764f11bd5b5fc?s=200" data-bindattr-826="826">
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
            <div>
                <img src="http://www.gravatar.com/avatar/bcee2737a479ebec433d5c49223a93bc?s=200" data-bindattr-826="826">
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
            <div>
                <img src="http://www.gravatar.com/avatar/7d3dc18d6aca5e8f7ea226c3a454d76a?s=200" data-bindattr-826="826">
            </div>
        </li>
        <li class="col-md-3 col-xs-6">
            <div>
                <img src="http://www.gravatar.com/avatar/0bdd135cfefd2cdbdd8eb334dc49e96f?s=200" data-bindattr-826="826">
            </div>
        </li>
    </ul>
</div>