<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li class="gn-search-item">
                            <form ng-submit="search(query)" ng-controller="busqueda">
                                <input placeholder="Buscar" type="search" class="gn-search" ng-model="query">
                                <a class="gn-icon gn-icon-search"><span>Buscar</span></a>
                            </form>
                        </li>
                        <!--<li class="gn-submenu">
                            <a class="gn-icon gn-icon-download ">Lugares</a>
                            <ul>
                                <li><a class="gn-icon gn-icon-illustrator">Parques</a></li>
                                <li><a class="gn-icon gn-icon-photoshop">Restaurantes</a></li>
                                <li><a class="gn-icon gn-icon-photoshop">Bares</a></li>
                                <li><a class="gn-icon gn-icon-illustrator">Antros</a></li>
                            </ul>
                        </li>--> 
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <li class="pull-left stylized"><a href="/"> Dragonfly </a></li>
        #{if models.Usuario.connected()}
            <li class="pull-right hidden-xs"><a href="/#/publicaciones/new">Nueva Publicación  <i class="fa fa-plus"></i></a></li>
            <li class="pull-right hidden-md hidden-lg hidden-sm"><a href="/"><i class="fa fa-plus"></i></a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="hidden-xs hidden-sm"> ${models.Usuario.connected().nombre}</span> 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/usuarios/show/${models.Usuario.connected().id}">Perfil</a></li>
                    <li><a href="/secure/logout">Salir</a></li>
                </ul>
            </li>
        #{/if}
        #{else}
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-user"></i>
                <span class="hidden-xs hidden-sm"> Usuario</span> 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/secure/login">Ingresa</a></li>
                <li><a href="/secure/login#/registro">Registrate</a></li>
            </ul>
        </li>
        #{/else}
    </ul>
</div><!-- /container -->
<script src="/public/js/classie.js"></script>
<script src="/public/js/gnmenu.js"></script>
<script>
                                new gnMenu(document.getElementById('gn-menu'));
</script>