<div class="container">
    <div class="banner">
        <div class="bg"></div>
        <text>{{object.titulo}}<text>
    </div>
    <form class="form-horizontal" role="form" name="newProd">
        <div class="form-group">
            <label for="titulo" class="col-lg-2 control-label">Título</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" 
                       placeholder="Titulo" ng-model="object.titulo" required>
            </div>
        </div>
        <div class="form-group">
            <label for="titulo" class="col-lg-2 control-label">Contenido</label>
            <div class="col-lg-10">
                <div text-angular ng-model="object.contenido"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="file" class="input-file" name="myFile" id="myFile" onchange="readURL(this);">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" ng-disabled="newProd">Entrar</button>
            </div>
        </div>
        <script>
            $(function() {
                console.log($('.input-file'));
                $('.input-file').inputfile({
                    uploadText: 'Select a file',
                    removeText: '<span class="fa fa-trash"></span>',
                    restoreText: '<span class="fa fa-remove"></span>',
                    uploadButtonClass: 'btn btn-primary',
                    removeButtonClass: 'btn btn-default'
                });
            });
        </script>
    </form>
</div>
