<div class="container ptop">
    <div class="media col-xs-12">
        <div   ng-repeat="p in pubs" class="media-body {{$index %2 !==0 ? 'bounceInLeft' : 'bounceInRight'}} wow col-xs-12">
            <div class="media">
                <div class="media-body col-xs-12">
                    <a class="{{$index % 2 !== 0 ? 'pull-right' : 'pull-left'}} col-xs-12 col-md-3 img" href="/#/publicaciones/{{p.idAsStr}}"
                       style="background-image: url('{{p.banner}}')"
                       >
                    </a>
                    <h3 class="col-xs-12 col-md-9">{{p.titulo}}</h3>
                    <p class="col-xs-12">{{p.contenido| htmlToPlaintext}}</p>
                    <small class="text-muted col-md-6 col-xs-12">{{p.usuario.nombre}} | {{p.fechaPublicacion| date:'medium'}}</small>
                    <a href="/#/publicaciones/{{p.idAsStr}}" class="pull-right col-md-2 hidden-xs">Ver mas...</a>
                    <a href="/#/publicaciones/{{p.idAsStr}}" class="btn btn-primary col-xs-12 hidden-sm hidden-md hidden-lg">Ver mas...</a>
                    <hr class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
    <script>
        new WOW().init();
    </script>
</div>