<div class="container">
    <div class="banner">
        <div class="bg" style="background-image: url('{{object.banner}}');"></div>
        <text>{{object.titulo}}<text>
    </div>
    <div class="col-md-9 col-xs-12">
        <h1>{{object.titulo}}</h1>
        <div star-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)"></div>
        <p class="rating-txt">54 personas lo han calificado</p>
        
        <div>{{object.usuario.nombre}} - {{object.usuario.email}}</div>
        <hr>
        <div><hashtag ng-model="object.contenido"></hashtag></div>
        <div class="edit">
            <a href="/#/publicaciones/edit/{{object.idAsStr}}">Editar publicación</a> 
            <button class="btn btn-del pull-right col-xs-3 col-md-2" type="reset">Eliminar <i class="fa fa-trash"></i></button>
        </div>
            
        <br>

        <div class="media" ng-show="object.comentarios.length > 0">
            <hr>
            <div class="media fadeIn wow" ng-repeat="c in object.comentarios">
                <div class="media">
                    <div class="media-body triangle-border">
                        <p class="col-xs-12"><strong>{{c.contenido}}</strong></p>                       
                        <br />
                        <small class="text-muted col-md-6 col-xs-12">{{c.usuario.nombre}} - {{c.fechaPublicacion| date:'medium'}}</small>
                        <button ng-show="commentIsDeletable(c)" ng-click="deleteComment(c)" class="btn btn-del pull-right col-xs-4 col-md-2" type="reset">Eliminar <i class="fa fa-trash"></i> </button>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="comentario col-md-12 col-xs-12">
            <form ng-submit="postComment(object.idAsStr, comentario)">
                <input  class="coment col-md-12 col-xs-12" type="text" ng-model="comentario" placeholder="Escribe un comentario...">
                <button class="pull-right btn btn-primary col-md-2 col-xs-12">Publicar</button>
            </form>
        </div>
        <div ng-show="isEditable()">
            <hr>
            <a href="/#/publicaciones/edit/{{object.idAsStr}}">Editar publicación</a>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">

    </div>
</div>
