<form action="/secure/authenticate" method="POST" role="form">
    <div class="form-group">
        <input type="email" name="username" placeholder="Correo" class="form-control" required> 
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Contraseña" class="form-control" required=""> 
    </div>
    <button type="submit" class="btn btn-login">Login</button> 
</form>	
<div class="login-links"> 
    <a href="/usuarios/blank">No tienes cuenta? <strong>Registrate</strong></a>
</div> 