#{extends 'main.html' /}
#{set title:'Home' /}
#{menuTag titles:['ingresar', 'contacto']/}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="cb-slideshow">
            <div class="bg-slide-1"></div>
            <div class="bg-slide-2"></div>
            <div class="bg-slide-3"></div>
            <div class="bg-slide-4"></div>
            <div class="bg-slide-5"></div>
            <div class="bg-slide-6"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">A dónde no ir</h1>
                    <p class="intro-text">Chihuahua<br>Created by <span class="logo">qbi<span>K</span></span></p>
                    <a href="#ingresar" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="ingresar" class="container content-section text-center page" ng-controller="mainCtrl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form role="form">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select type="text" class="form-control" id="estado" placeholder="Estado" 
                            ng-model="estado" ng-options="e.nombre for e in estados" ng-change="getMunicipios()">

                    </select>
                </div>
                <div class="form-group" ng-show="estado">
                    <label for="municipio">Municipio</label>
                    <select type="text" class="form-control" id="municipio" placeholder="Municipio" 
                            ng-model="municipio" ng-options="m.nombre for m in municipios" data-live-search="true">

                    </select>
                </div>
                <button type="submit" class="btn btn-default col-md-12 col-lg-12 col-xs-12"
                        ng-show="municipio" ng-click="go()">Ingresar</button>
            </form>
        </div>
    </div>
</section>

#{contacto /}

<!-- Footer -->
<footer>
    <div class="container text-center col-lg-12 col-md-12 col-xs-12">
        <p>Copyright &copy; <span class="logo">qbi<span>K</span></span></p>
    </div>
</footer>