#{extends 'main.html' /}
#{set title:'Home' /}


    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">A dónde no ir</h1>
                        <p class="intro-text">Chihuahua<br>Created by <span class="logo">qbi<span>K</span></span></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
